body {
  margin: 0;
  padding: 0;
  font-family: "Arvo", serif;
}

.qn-t-ticker {
  line-height: 1.5em;
  background: rgba(233, 180, 100, 1);
  background: linear-gradient(90deg,
      rgba(210, 87, 75, 1) 17%,
      rgba(233, 180, 100, 1) 49%);
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 8px;
}

.qn-home-side-bubble-image {
  width: 50%;
  height: auto;
  position: absolute;
  right: 0;
  z-index: -999;
}

.text-container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  /* justify-content: center; */
}

.qn-t-ticker-icon {
  padding: 6px;
  height: 70px;
  width: auto;
}

.qn-dropdown-menu {
  display: none;
  position: absolute;
  z-index: 9999;
  padding-top: 24px;
  padding-bottom: 18px;
  width: 350px;
  border-radius: 4px;
  background-color: #fff;
}

.qn-dropdown-menu-text {
  text-transform: capitalize;
  text-decoration: none;
  color: #6062fe;
  font-size: 0.8em;
  cursor: pointer;
  background-color: #fff;
  padding: 16px 18px;
  width: 100%;
  word-wrap: break-word !important;
  white-space: normal;
  line-height: 1.5rem;
}

.qn-gb {
  /* margin-left: 6px; */
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
  /* margin-top: 6px; */
  /* margin-bottom: 6px; */
  padding: 8px 18px;
  text-align: center;
  border: none;
  /* background-size: 300% 100%; */
  border-radius: 50px;
  width: 100%;
  animation: breathing 3s ease-out infinite normal;
  -webkit-font-smoothing: antialiased;
}

.qn-font-arvo {
  font-family: Arvo, serif;
}

.qn-t-ticker-text {
  /* margin-right: 12px;
  margin-left: 12px; */
  font-size: 18.2px;
  color: white;
  text-align: center;
}

.icon-text {
  display: flex;
  flex-direction: row;
}

/* 
.search-container {
  margin: 12px 134px;
} */

.qn-search-tagline {
  flex-direction: column;
}

.qn-search-logo {
  height: 75px;
  width: auto;
  cursor: pointer;
}

.qn-search-invedia-name {
  color: #30a995;
  font-size: 22.4px;
  font-weight: 700;
  margin-top: 26px;
}

.qn-search-tagline {
  color: #3f51b5;
  font-size: 16.8px;
}

.contact-login {
  display: flex;
  flex-direction: column;
}

.contact-login .qn-font-arvo {
  font-size: 14px;
  padding: 15px 0 10px 0;
  color: #2e2e2e;
  text-decoration: none;
}

.contact-login svg {
  margin-right: 10px;
}

.mobile-icon {
  height: 20px;
  width: 20px;
}

.mail-icon {
  height: 20px;
  width: 20px;
}

.login-button {
  background-color: #3f51b5;
  box-shadow: 0 0 #0003, 0 0 #00000024, 0 0 #0000001f;
  border: none;
  padding: 0 16px;
  line-height: 36px;
  font-size: 16px;
  color: white;
  border-radius: 4px;
  width: 82%;
}



.qn-lb-header {
  font-size: 60px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: start;
  /* letter-spacing: 1px; */
  color: #30a995;
  /* margin: 18px 0; */
  line-height: 60px;
}

.qn-lb-para,
.qn-lb-point {
  color: #1b5380;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 4px;
  flex-flow: wrap;
}

.qn-lb-para {
  margin-bottom: 25px;
}

.qn-lb-point {
  text-align: center;
}

.home-banner {
  max-width: 100%;
  height: auto;
}

.points-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  flex-flow: wrap;
}

h4 {
  color: #30a995;
}

.app-banner input {
  caret-color: #f44336;
  border: none;
  border: 1px solid #f44336;
  outline: none;
  padding: 1em;
  width: 80%;
  /* max-width: 50%; */
}

.app-banner input ::placeholder {
  color: #f44336;
}

.qn-li-button {
  margin-top: 20px;
  font-size: 1rem;
  background-color: #30a995;
  color: #fff;
  /* max-width: 500px; */
  padding: 0.5rem 1rem;
  border: none;
  width: 80%;
}

.qn-li-talk {
  font-size: 1rem;
  color: #30a995;
  cursor: pointer;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
}

.qn-li-talk p {
  margin-top: 15px;
}

.qn-li-box {
  border: 2px solid #2e2e2e;
  border-radius: 3px;
  background-color: #ffd200;
  color: #1b5380;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  /* margin: 1rem auto; */
  padding: 2rem;
  width: 72%;
  place-content: center;
}

h6 {
  font-size: 16px;
  color: #1b5380;
  font-weight: 700;
}

.trust-container {}

.qn-lr-heading {
  color: #1f6195;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-size: 20px;
}

.grey-bg {
  background-color: #eee;
  /* margin-top: 5%; */
}

.text-xl {
  font-size: 20px;
  line-height: 1.75rem;
  color: #1f6195;
}

.qn-lrc-star {
  height: 25px;
  width: auto;
  margin: 0.25rem;
}

.qn-lrc-icon {
  width: auto;
  height: 55px;
  margin: 0.25rem;
}

.small-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 12px 0;
}

.small-text a {
  color: #1f6195;
}

.qn-lgid-header {
  color: #30a995;
  margin: 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.qn-lgid-sub-header {
  color: #1f6195;
  margin-top: 15px;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.qn-landing-service-option {
  border: 2px solid #30a995;
  width: 200px;
  /* height: 500px; */
  height: 170px;
  min-height: 150px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  padding: 1rem;
  margin: 0 15px;
}

.qn-landing-service-option a {
  text-decoration: none;
  color: #30a995;
}

.qn-lso-image {
  height: 75px;
  width: auto;
  justify-content: center;
}

a .qn-lso-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}

.qn-lp-heading {
  color: #30a995;
  margin: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.qn-brand-partner-header {
  color: #9c593c;
  text-align: center;
  margin-bottom: 18px;
  margin-top: 12px;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 1px;
  font-weight: 700;
}

/* .brand-partners-content img {
  width: 65%;
  /* max-width: 60vw;
} */

.qn-brand-image-container {
  margin: 14px;
  /* max-width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* transition: opacity 0.3s ease; */
}

/* .brand-partners-content .col-lg-9,
.brand-partners-content .col-lg-7 {
  /* opacity: 0; 
  transition: opacity 0.3s ease;
} */

/* .show {
  opacity: 1;
}

.hide {
  opacity: 0;
} */

.qn-brand-image {
  width: 170px;
  height: auto;
  max-width: 100%;
}

.qn-brand-button {
  text-transform: capitalize;
  text-align: center;
  color: #6062fe;
  opacity: 0.8;
  font-size: 1.1em;
  cursor: pointer;
  padding: 12px 18px;
  border: 1px solid #339933;
  border-radius: 40px;
  margin-top: 18px;
  min-width: 110px;
  transition: all 0.3s ease-in-out;
  width: 10%;
}

.qn-non-selectable {
  user-select: none;
  -webkit-user-select: none;
}

.qn-ser-mbk-banner {
  background-color: #fff;
  background-image: linear-gradient(43deg,
      #ffffff 0%,
      #f1fbf9 46%,
      #d2f2ec 100%);
}

.qn-ser-mbk-banner-title {
  font-weight: 700;
  font-size: 36.4px;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 1.2em;
  color: #30a995;
  margin: 8px 12px;
  text-align: center;
}

/* footer */
.qn-footer {
  min-height: 50vh;
  background-image: url(./images/backgroud-img/footer-background.84327b317ff83feb.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 48px 10% 5vh;
}

.qn-footer-logo {
  height: 70px;
  width: auto;
  cursor: pointer;
}

.qn-footer-social-link {
  padding: 3px;
  background-color: #fff;
  border-radius: 3px;
  height: 35px;
  width: auto;
  margin: 8px;
  cursor: pointer;
}

footer a {
  text-decoration: none;
}

.qn-footer-column-title {
  font-size: 21px;
  text-transform: capitalize;
  line-height: 2em;
  margin-bottom: 16px;
  font-weight: 700;
  color: #2e2e2e;
}

.qn-footer-option {
  font-size: 15.4px;
  text-transform: capitalize;
  line-height: 2em;
  margin-bottom: 6px;
  cursor: pointer;
  color: #2e2e2e;
}

.qn-card-jr-title {
  font-weight: 700;
  font-size: 23.8px;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 1.2em;
  color: #30a995;
}

.qn-card-title {
  font-weight: 700;
  font-size: 36.4px;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 1.2em;
  color: #30a995;
}

.qn-card-subtitle {
  font-weight: 400;
  font-size: 23.8px;
  text-transform: none;
  color: #1b5380;
  line-height: 1.2em;
  margin-top: 26px;
  margin-bottom: 6px;
}

.qn-card-image {
  height: auto;
  max-width: 70%;
}

.navbar-drawer {
  display: none;
}

.qn-sidenav-control-fab {
  background-color: #9f50ff;
}

/* .navbar-drawer {
  display: flex;
  flex-direction: column;
} */

.app-banner .row {
  display: flex;
  flex-direction: row-reverse;
}

.carousel-content .row {
  display: flex;
  flex-direction: row-reverse;
}

/* .navbar-toggler {
  display: none;
} */

/* Services */

.qn-ser-mbk-banner .row {
  display: flex;
  flex-direction: row-reverse;
}

.service-banner {
  height: auto;
  max-width: 70%;
}

.qn-breadcrumb-options-container {
  border: 1px solid #1b5380;
  margin: 0 3px 3px;
  border-radius: 6px;
}

.qn-breadcrumb-options-container a {
  text-decoration: none;
}

.qn-breadcrumb-option {
  min-width: 80px;
  font-size: 17.6px;
  font-weight: 700;
  padding: 5px 15px;
  color: #30a995;
  transition: all 0.3s ease-in-out;
}

.ser-bdy {
  max-width: 1050px;
  width: 95vw;
}

.ser-bdy h3 {
  color: #30a995;
  font-weight: 700;
  font-size: 21px;
  letter-spacing: 1px;
  margin-bottom: 22px;
}

.ser-body-title {
  color: #1b5380;
  font-weight: 700;
  font-size: 16.8px;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.ser-text {
  font-size: 16.8px;
  line-height: 1.5em;
}

.navbar-toggler {
  border-radius: 50%;
  border: none;
  /* border: 1px solid black; */
  outline: none;
  background-color: #9f50ff;
  font-size: 50px;
  width: 70px;
  position: fixed;
  bottom: 40px;
  left: 40px;
  display: none;
  justify-content: center;
}

.navbar-toggler i {
  color: white;
  font-size: 20px;
  height: 58px;
  width: 58px;
  line-height: 57px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #9f50ff;
  border-radius: 50%;
}

/* .navbar-drawer {
  min-height: calc(100vh - 26px);
  margin: 8px;
} */

.offcanvas-header {
  text-transform: uppercase;
  color: #1b5380;
  font-size: 1.5em;
  padding-top: 12px;
  padding-bottom: 12px;
}

.offcanvas-header h5 {
  margin: 0 auto;
}

.navbar-option {
  /* text-align: end; */
  /* border: 1px solid #339933; */
  border-radius: 40px;
  padding: 11px 17px;
  font-size: 19.6px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #6062fe;
}

.navbar-option .accordion-header a {
  /* text-align: end; */
  /* border: 1px solid #339933; */
  border-radius: 40px;
  padding: 11px 17px;
  font-size: 19.6px;
  display: block;
  text-decoration: none;
  color: #6062fe;
}

.navbar-option .accordion-subheader {
  color: #6062fe;
  font-size: 19.6px;
  text-align: end;
  display: block;
}

.navbar-option a {
  text-decoration: none;
  display: block;
}

.dropdown-item {
  text-wrap: wrap;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 9999;
  padding-top: 24px;
  padding-bottom: 18px;
  width: 350px;
  border-radius: 4px;
  background-color: #fff;
}

.nav-link:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  color: #6062fe;
  padding: 16px 18px;
}

.navbar-drawer {
  display: none;
}

/* .dropdown-menu {
  position: static; /* Change position from absolute to static 
  float: none; /* Remove floating 
  display: none; /* Hide initially 
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
} */

.dropdown-menu a {
  /* display: flex; */
  word-wrap: break-word;
}

.ser-body-box {
  background-color: #f9e494;
  background-image: linear-gradient(0deg, #f9e494 0%, #f68247 100%);
  padding: 28px 16px;
  border-radius: 12px;
}

.ser-body-box-title {
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 21px;
  letter-spacing: 1px;
  margin-top: 26px;
  margin-bottom: 26px;
}

.ser-body-box p {
  color: #1b5380;
  font-size: 16.8px;
  line-height: 1.5em;
}

.icons-content {
  flex-flow: wrap;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
}

.icons-content img {
  flex: 1 1 45%;
  box-sizing: border-box;
  max-width: 85%;
}

.first-text h4,
.second-text h4 {
  color: #1b5380;
  font-weight: 700;
  font-size: 16.8px;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

p,
ul {
  font-size: 16.8px;
  line-height: 1.5em;
}

.qualification img {
  height: auto;
  max-width: 70%;
}

.main-title {
  color: #30a995;
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: 1px;
  margin-bottom: 22px;
}

.qualification h6 {
  color: #1b5380;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 1px;
  line-height: 1.4em;
  margin-bottom: 8px;
}

.qualification ul {
  font-size: 16.8px;
  line-height: 1.5em;
  list-style-type: none;
  padding-left: 0;
}

.qn-carousel {
  margin: 32px 5% 60px;
  max-width: 1400px;
  background-color: #bcd2d6;
  background-image: linear-gradient(0deg, #bcd2d6 0%, #f5f5f5 100%);
  padding: 3%;
  border-radius: 24px;
}

.qn-carousel img {
  width: 10%;
  max-width: 100%;
  height: auto;
}

.google-reviews .ratings img {
  height: 25px;
  width: 25px;
  margin: 3px;
}

.qn-carousel p {
  font-size: 18.2px;
  line-height: 1.5em;
  color: #2a2a2a;
  margin-top: 12px;
  font-weight: 100;
}

.qn-carousel .affiliation {
  font-size: 19.6px;
  line-height: 1.5em;
  color: #2a2a2a;
  margin-top: 8px;
  font-weight: 700;
}

.testimonials-btn {
  text-transform: capitalize;
  text-decoration: none;
  color: #6062fe;
  opacity: 0.8;
  font-size: 15.4px;
  cursor: pointer;
  padding: 12px 18px;
  border: 1px solid #339933;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
}

.sol-header {
  color: #30a995;
  font-weight: 700;
  font-size: 21px;
  letter-spacing: 1px;
  margin-bottom: 22px;
}

.solution-consultation p {
  color: #1b5380;
  font-weight: 700;
  font-size: 16.8px;
  /* letter-spacing: 1px; */
  line-height: 1.5em;
  margin-bottom: 8px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ser-body-text {
  font-size: 16.8px;
  line-height: 1.5em;
  list-style-type: none;
  padding-left: 0;
}

.dropdown-menu li {
  position: relative;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}

.navbar-nav .dropdown-menu,
.d-flex .dropdown-menu {
  display: none;
}

.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
  display: block;
}

.navbar-nav>li:hover>.dropdown-menu,
.d-flex>li:hover>.dropdown-menu {
  display: block;
}

.navbar-nav .nav-item:hover,
.d-flex .nav-item:hover {
  border: 1px solid #339933;
  border-radius: 40px;
  /* padding: 11px 0; */
}

.nav-link {
  font-size: 19.6px;
  color: #6062fe;
  /* margin: 0 3px; */
}


a.nav-link.dropdown-toggle {}


.d-flex li {
  list-style: none;
}

.d-flex a.nav-link {
  padding: 3px 0;
}

/* .consultation p {
  font-size: 16.8px;
  line-height: 1.5em;
} */

.consultation img {
  height: auto;
  max-width: 70%;
}

.qn-ser-cbk-banner {
  background-color: #c6d8d8;
}

.qn-ser-cbk-banner .row {
  display: flex;
  flex-direction: row-reverse;
}

/* Accounting and Automation */

.acc-header {
  color: #30a995;
  font-weight: 700;
  font-size: 21px;
  letter-spacing: 1px;
  margin-bottom: 22px;
}

.ser-acc-body-box {
  background-color: #c1eee4;
  background-image: linear-gradient(0deg, #c1eee4 0%, #67c9bb 100%);
  padding: 28px 16px;
  border-radius: 12px;
}

.ser-aac-body-box-p {
  color: #1b5380;
  font-size: 16.8px;
  line-height: 1.5em;
  list-style-type: none;
  padding-left: 0;
}

/* Get started */

.get-started-header {
  font-weight: 700;
  font-size: 30.8px;
  text-transform: capitalize;
  line-height: 1.2em;
  color: #30a995;
  margin-bottom: 18px;
  /* text-align: left; */
  /* text-align: center; */
}

.call-form img {
  height: auto;
  width: 100%;
  max-height: 80%;
  max-width: 350px;
  /* align-items: center; */
}

.contact-form {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  /* place-content: stretch flex-start; */
  /* align-items: stretch; */
  max-width: 100%;
  border: 2px solid #2e2e2e;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 12px;
}

/* .form-fields {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  /* place-content: flex-start center; */
/* align-items: flex-start; 
  margin: 0 5px;
  border: 0.5px solid gray;
  border-radius: 5px;
} */

/* .form-fields input {
  border: none;
  outline: none;
  padding: 5px;
} */

/* .form-fields .material-icons {
  padding-right: 20px;
  color: #1b5380;
  height: 5px;
  width: 5px;
} */

/* .form-field-label-wrapper {
  /* position: absolute;
  left: 0;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
} */


.form-submit-button {
  text-transform: uppercase;
  background-color: #4158d0;
  background-image: linear-gradient(43deg,
      #4158d0 0%,
      #c850c0 46%,
      #ffcc70 100%);
  color: #fff;
  border: none;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.privacy-text {
  margin-top: 12px;
  font-size: 14px;
  font-style: italic;
  color: #2e2e2e;
}

.appointment-content img {
  margin-top: 30px;
  max-width: 120px;
  max-height: 40px;
}

.appointment-content h4 {
  color: var(--text-color-level2, rgba(26, 26, 26, 0.61));
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding-right: 45px;
  padding-left: 45px;
  font-family: sans-serif;
}

.appointment-content h1 {
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
  font-family: sans-serif;
}

.call-details {
  color: rgba(26, 26, 26, 0.61);
  font-weight: 700;
  font-family: sans-serif;
}

.call-details svg {
  width: 20px;
  height: 20px;
}

.call-details span {
  font-size: 15px;
}

.paragraph-text {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: proxima nova, sans-serif;
  line-height: 1.5;
  color: #1a1a1a;
  font-weight: 100;
  text-align: left;
}

.email-address-content img {
  height: 100%;
  width: auto;
  max-height: 350px;
  max-width: 100%;
}

.email-text p {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 18px;
  font-size: 16.2px;
  line-height: 1.8em;
  font-family: Arvo, serif;
}

.email-text a {
  text-decoration: none;
  border-bottom: 3px solid #6062fe;
  font-style: italic;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: black;
}

.address-text {
  line-height: 29.5px;
}

/* About Us */

.about-banner img {
  height: auto;
  width: 100%;
  max-height: 100%;
  max-width: 350px;
  /* vertical-align: middle; */
}

.about-heading {
  font-weight: 700;
  font-size: 30.8px;
  line-height: 1.2em;
  color: #30a995;
  margin-bottom: 18px;
}

.about-banner h4 {
  color: #478be7;
  font-weight: 700;
  text-transform: none;
  margin-top: 8px;
  margin-bottom: 18px;
  font-size: 21px;
}

.about-banner p {
  margin-top: 4px;
  margin-bottom: 12px;
  font-size: 18.2px;
  line-height: 1.8em;
}

.about-small-text span {
  margin-top: 4px;
  margin-bottom: 12px;
  font-size: 12.6px;
  line-height: 1.8em;
}

.about-small-text a {
  color: black;
  text-decoration: none;
}

.about-other-content .tabs {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  /* place-content: stretch space-between; */
  /* align-items: stretch; */
  max-height: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

.about-other-content .nav-pills {
  background-color: #f2f2f2;
  text-align: center;
  /* border: 1px solid red; */
  border-radius: 25px;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
}

.about-other-content .single-tab {
  font-family: Arvo, serif;
  text-transform: capitalize;
  color: #949494;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  font-size: 18.2px;
  padding: 14px 20px;
  border: none;
  background-color: transparent;
}

.about-other-content .single-tab:hover {
  color: #858383;
}

.about-other-content .single-tab a {
  color: #949494;
  text-decoration: none;
}

.about-other-content .single-tab.active a {
  color: #1b5380;
}

.about-other-content .single-tab.active {
  background: linear-gradient(90deg,
      rgba(219, 247, 180, 1) 21%,
      rgba(126, 227, 177, 1) 58%);
  color: #1b5380;
  transition: all 0.3s ease-in-out;
  font-size: 18.2px;
  padding: 14px 22px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
}

.tab-content img {
  height: 100%;
  width: auto;
  max-height: 350px;
  max-width: 100%;
}

.timely-accurate .row {
  display: flex;
  flex-direction: row-reverse;
}

.about-subtitle {
  text-transform: none;
  font-family: Arvo, serif;
  margin-top: 8px;
  margin-bottom: 18px;
  font-size: 21px;
  line-height: 1.8em;
  font-weight: 700;
  color: #1b5380;
}

.about-text {
  margin-top: 4px;
  margin-bottom: 18px;
  font-size: 18.2px;
  line-height: 1.8em;
}

.tab-content .get-started-btn {
  text-transform: capitalize;
  color: #1b5380;
  font-size: 21px;
  font-weight: 600;
  cursor: pointer;
  padding: 11px 17px;
  border: 1px solid #1b5380;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.transitions .video-link {
  color: #478be7;
  text-transform: capitalize;
  margin-bottom: 18px;
  font-size: 18.2px;
  text-decoration: none;
}

.safe-secure .row {
  display: flex;
  flex-direction: row-reverse;
}

.hi-touch .row {
  display: flex;
  flex-direction: row-reverse;
}

.our-speciality .row {
  display: flex;
  flex-direction: row-reverse;
}

/* Who We Are */
.team-members img {
  height: 180px;
  width: 180px;
  max-height: 100%;
  max-width: 100%;
}

.team-members .team-card-name {
  font-family: Arvo, serif;
  font-size: 18.2px;
  font-weight: bolder;
  margin-top: 8px;
  margin-bottom: 4px;
}

.team-members .team-card-desc {
  font-family: Arvo, serif;
  color: #478be7;
  font-size: 14px;
}

.team-members-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 40vw;
  min-width: 300px;
  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
  padding: 12px;
  z-index: 100;
  right: 0;
  text-align: left;
  line-height: 1.8em;
}

.team-members-container:hover .dropdown-content {
  display: block;
}

.team-members-container:hover {
  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
}

/* Testimonials */

.testimonial-banner img {
  height: 100%;
  width: auto;
  max-height: 250px;
  max-width: 100%;
}

.testimonial-banner h2 {
  font-weight: 700;
  font-size: 30.8px;
  text-transform: uppercase;
  line-height: 1.2em;
  color: #30a995;
  margin: auto 0;
}

.green-quote {
  height: 55px;
  width: auto;
}

.google-review-icon {
  height: 50px;
  width: auto;
}

.review p {
  font-size: 18.2px;
  line-height: 1.3em;
  margin: 1% 0 6%;
  text-align: left;
}

.review h5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16.8px;
}


/* Packages */

.package-banner .row {
  display: flex;
  flex-direction: row-reverse;
}

.package-banner img {
  height: auto;
  width: 100%;
  max-height: 100%;
  max-width: 450px;
}

.package-banner h3 {
  font-weight: 700;
  font-size: 30.8px;
  text-transform: capitalize;
  line-height: 1em;
  color: #30a995;
  /* margin-bottom: 18px; */
}

.packages h3 {
  text-transform: capitalize;
  color: #fff;
  font-size: 19.6px;
  font-weight: 700;
  padding-top: 18px;
  letter-spacing: 1px;
  text-align: center;
}

.gold-package,
.diamond-package,
.platinum-package {
  min-width: 160px;
  border-radius: 8px;
  position: relative;
  /* padding-bottom: 150px; */
  margin: 16px 6px;
  height: 780px;
}

.gold-package {
  background-color: #fff3b4;
  background-image: linear-gradient(19deg, #fff3b4 0%, #E4A50B 100%);
  margin: 0 -13px 0 30px;

}

.diamond-package {
  background-color: #dacafc;
  background-image: linear-gradient(19deg, #dacafc 0%, #a39cf4 100%);
  margin: 0;
}

.platinum-package {
  background-color: #c1eee4;
  background-image: linear-gradient(19deg, #c1eee4 0%, #67c9bb 100%);
  margin: 0 25px 0 -13px;
}

.price-container {
  background-color: #fff;
  border-radius: 50%;
  /* padding: 12px; */
  height: 150px;
  width: 150px;
  margin-top: 18px;
  margin: auto;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
}

.price-container p {
  font-size: 12.6px;
  font-family: Helvetica, sans-serif;
  color: #1b5380;
  font-weight: 100;
  /* text-align: center; */
}

.price-container h4 {
  font-size: 25.2px;
  /* line-height: 1.3em; */
  color: #1b5380;
  font-weight: 700;
  text-transform: capitalize;
  /* text-align: center; */
  font-family: Arvo, serif;
  margin-top: 0;
}

.packages h6 {
  color: #1b5380;
  font-size: 16.8px;
  line-height: 1.6em;
  font-weight: 600;
  text-align: center;
  font-family: Arvo, serif;
}

.gold-btn-container,
.diamond-btn-container,
.platinum-btn-container {
  text-align: center;
}

.gold-detail-btn {
  background-color: #fff3b4;
  background-image: linear-gradient(19deg, #fff3b4 0%, #E4A50B 100%);
}

.diamond-detail-btn {
  background-color: #dacafc;
  background-image: linear-gradient(19deg, #dacafc 0%, #a39cf4 100%);
}

.platinum-detail-btn {
  background-color: #c1eee4;
  background-image: linear-gradient(19deg, #c1eee4 0%, #67c9bb 100%);
}

.gold-detail-btn,
.diamond-detail-btn,
.platinum-detail-btn {
  margin-top: 12px;
  height: 58px;
  font-size: 16.8px;
  text-transform: capitalize;
  font-weight: 700;
  color: #fff;
  font-family: Arvo, serif;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  border: none;
  border-radius: 4px;
  padding: 0 15px;
  align-content: center;
}

.packages h5 {
  color: #1b5380;
  font-size: 18.2px;
  line-height: 1.6em;
  font-weight: 700;
  margin-left: 6px;
  margin-bottom: 20px;
  font-family: Arvo, serif;
  /* width: auto; */
}

.details-container {
  /* align-items: left; */
  margin: 20px 35px;
  height: 325px;
}

.single-detail {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.add-on-services {
  background-color: #4fb8e3;
  background-image: linear-gradient(19deg, #e9f7fc 0%, #4fb8e3 100%);
  border-radius: 12px;
  margin-bottom: 24px;
  padding: 3% 6%;
  display: flex;
  flex-direction: row;
  /* margin: 0 10px; */
}

.add-on-services h5 {
  color: #1b5380;
  font-size: 16.8px;
  line-height: 1.8em;
  font-weight: 600;
  margin-bottom: 9px;
  text-align: left;
  margin-left: 6px;
  font-family: Arvo, serif;
}


.packages .material-icons {
  color: white;
}


.form-fields {
  position: relative;
}

.form-input {
  width: calc(100%);
  /* Adjust the width to accommodate the Material icon */
  padding: 10px 30px 10px 10px;
  /* Add padding on the right to make space for the icon */
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.form-fields .material-icons {
  position: absolute;
  top: 35%;
  right: 15px;
  /* Adjust the right position as needed */
  transform: translateY(-50%);
  color: #1b5380;
}

.form-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  transition: all .3s;
  padding: 0 5px;
}

.form-helper {
  font-size: 12px;
  color: #666;
  margin-top: 2px;
  margin-left: 0;
}

.form-input:focus+.form-label,
.form-label.active {
  top: -10px;
  font-size: 12px;
  color: #007BFF;

}

.form-input:focus {
  outline: none;
}

.form-input.border-red-500 {
  border-color: #F87171;
}

.form-input.border-blue-500 {
  border-color: #60A5FA;
}

.form-input.border-gray-400 {
  border-color: gray;
}

/* Hide placeholder by default */
.form-input::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.form-input:focus::placeholder {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

/* Remove arrows for number input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

/* Show placeholder when label is up */
/* .form-label.active+.form-input::placeholder {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
} */

@media (max-width: 960px) {
  .navbar-toggler {
    display: block;
  }

  .navbar-drawer {
    display: block;
    z-index: 1;
  }

  .navbar-drawer .navbar-option.active,
  .navbar-drawer .navbar-option:hover {
    border: 1px solid #339933;
    border-radius: 40px;
  }

  .offcanvas {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  }

  .carousel-inner .row {
    align-items: center;
  }

  .add-on-services {
    display: flex;
    flex-direction: column;
    /* text-align: center; */

  }
}

@media (max-width: 600px) {
  .qn-lb-header {
    font-size: 30px;
    line-height: 2.5rem;
  }

  .brand-partners .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .certificates .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .partners .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .qn-brand-image-container {
    width: 50%;
    /* display: flex; */
  }

  .service-banner {
    margin: 0 auto;
  }

  .qn-li-box {
    margin: 0 auto;
    width: 80%;
  }

  .qn-li-button {
    width: 100%;
    padding: 15px 0;
  }

  iframe {
    width: 250px;
    height: 250px;
  }

  .gold-package,
  .diamond-package,
  .platinum-package {
    margin: 20px 0;
  }

  .add-on-services {
    text-align: center;
  }

  .add-on-services .price-container {
    margin: 0 auto;
  }

  .add-on-services .single-detail {
    /* text-align: center; */
    width: 400px;
    margin-left: 10px;
  }

  .add-on-services {
    margin: 5px 0;
  }


}

@media (max-width: 400px) {
  .certificates .col-lg-2 .col-md-3 .col-6 {
    width: 100%;
  }

  .add-on-services {
    margin: 0;
  }

  .add-on-services .single-detail {
    /* text-align: center; */
    width: 240px;
    /* margin-left: 5px; */
  }
}


@media (max-width: 310px) {
  .qn-t-ticker-text {
    text-align: start;
    padding-left: 20px;
  }

  .qn-footer .row .col-lg-6 {
    display: flex;
    flex-direction: column;
  }

  .add-on-services .single-detail {
    /* text-align: center; */
    width: 240px;
  }

  iframe {
    width: 450px;
    height: 450px;
  }
}