<ifmodule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ares_studio/admin
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ $1.js [NC,L]
</ifmodule>