.user-wrapper {
  display: flex;
  height: 3.5rem;
  align-items: center;
}
.user-wrapper button img {
  margin-right: 6px;
}
.user-wrapper small {
  display: inline-block;
  color: var(--title-color);
  font-family: var(--primary-font);
}
main {
  margin-top: 45px;
  padding: 2rem 1.5rem;
  background: #f6f6f7;
  min-height: calc(100vh - 45px);
}
.user-wrapper button {
  border: none;
  background: transparent;
  display: block;
  padding: 10px 0px;
  align-items: center;
}
.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white-color);
  min-width: 210px;
  padding: 8px 5px;
  overflow: auto;
  right: 0;
  z-index: 1;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.3125rem #1718180d, 0 0.0625rem 0.125rem #00000026;
}

#nav-toggle:checked + .sidebar {
  width: 70px;
}
#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li {
  padding-left: 1rem;
  text-align: center;
}
#nav-toggle:checked + .sidebar li a {
  padding-left: 5px;
}
#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child {
  display: none;
}
#nav-toggle:checked ~ .main-content {
  margin-left: 70px;
}
#nav-toggle:checked ~ .main-content header {
  width: calc(100% - 70px);
  left: 70px;
}
