/* .login-content {
    /* width: 80%; */
    /* background: var(--main-color); */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* min-height: 100vh; 
} */

