.pages-headers {
  margin-bottom: 30px;
}
.pages-headers h2 {
  font-family: var(--primary-font);
  font-size: 25px;
}
.pages-headers h2 a {
  float: right;
  margin-left: 10px;
}
.theme-cta {
  font-family: var(--primary-font);
  color: var(--white-color);
  border-radius: 4px;
  background: var(--theme-color-prime);
  font-size: 15px;
  padding: 6px 15px 7px 15px;
}
.theme-cta:hover {
  color: var(--white-color);
}
