<ifmodule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /aresstudio/admin
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /aresstudio/admin/index.html [L]
</ifmodule>