<ifmodule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /ares_studio
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /ares-studio/index.html [L]
</ifmodule>